*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f5f7fb;
    color:#333;
}


/* ===== NAVBAR ===== */

.navbar{
    width:100%;
    height:75px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 8%;
    background:white;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#5B21B6;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#444;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#5B21B6;
}


/* ===== HERO ===== */

.hero{
    width:90%;
    max-width:1200px;
    margin:auto;
    min-height:85vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
}

.hero-text{
    flex:1;
}

.hero-text h1{
    font-size:52px;
    color:#312E81;
    margin-bottom:20px;
}

.hero-text p{
    font-size:18px;
    color:#555;
    line-height:1.8;
}

.hero-buttons{
    margin-top:30px;
    display:flex;
    gap:20px;

}

.btn-primary{
    background:#5B21B6;
    color:white;
    padding:15px 30px;
    border-radius:10px;
    text-decoration:none;
}

.btn-secondary{
    background:#2563EB;
    color:white;
    padding:15px 30px;
    border-radius:10px;
    text-decoration:none;
}

.hero-image{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-image i{
    font-size:180px;
    color:#7C3AED;
    background:#EEF2FF;
    width:300px;
    height:300px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 15px 40px rgba(124,58,237,.25);
}

.btn-primary,
.btn-secondary{
    transition:.3s;
}

.btn-primary:hover,
.btn-secondary:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(0,0,0,.15);
}
/* ================= FEATURES ================= */

.features{
    width:90%;
    max-width:1200px;
    margin:70px auto;
    text-align:center;
}

.feature-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    margin-top:40px;
}

.feature-card{
    background:#fff;
    padding:30px 20px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.feature-card:hover{
    transform:translateY(-10px);
}

.feature-card i{
    font-size:50px;
    color:#7C3AED;
    margin-bottom:20px;
}

.feature-card h3{
    margin-bottom:15px;
}

.feature-card p{
    background:none;
    padding:0;
}

@media(max-width:992px){

.feature-grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:600px){

.feature-grid{
grid-template-columns:1fr;
}

}